@use '../abstracts' as *;

.page-name-text.about {
 position: absolute;
 top: 15.4rem;
 left: -2.8rem;
 width: 12.5rem;
 display: flex;
 justify-content: space-between;
}

.header__links.about {
 a {
  &:nth-child(2) {
   color: var(--primary-heading);
   position: relative;

   &::after {
    content: '';
    position: absolute;
    bottom: -16px;
    right: 0;
    width: 25px;
    height: 1.5px;
    background-color: var(--primary-heading);
   }
  }
 }
}

.about {
 &__hero {
  position: relative;
  min-height: 15rem;
  background-image: url('/assets/about/mobile/image-hero.jpg');

  @include breakpoint-up(medium) {
   min-height: 45rem;
   background-image: url('/assets/about/tablet/image-hero.jpg');
  }

  @include breakpoint-up(large) {
   background-image: url('/assets/about/desktop/image-hero.jpg');
  }

  @include breakpoint-up(xlarge) {
   width: 39.75rem;
  }
 }

 &__hero--content {
  min-height: 15rem;
  background-color: var(--hero-image-overlay-dark);

  @include breakpoint-up(medium) {
   min-height: 45rem;
  }
 }

 &__hero--text-overlay {
  position: relative;
  margin-top: 2.1875rem;

  @include breakpoint-up(medium) {
   position: absolute;
   bottom: 0;
   right: 0;
   min-height: 26.9375rem;
   margin-top: 0;
   width: 90%;
   background-color: var(--white);
  }

  @include breakpoint-up(xlarge) {
   bottom: 0;
   right: -26rem;
  }

  &::before {
   position: absolute;
   bottom: -5.125rem;
   left: 2rem;
   content: '';
   height: 1px;
   width: 4.0625rem;
   background-color: var(--primary-light);

   @include breakpoint-up(medium) {
    top: 4.75rem;
    left: 4rem;
   }

   @include breakpoint-up(large) {
    left: 6rem;
   }

   @include breakpoint-up(xlarge) {
    top: 7.75rem;
    left: 10rem;
   }
  }

  &::after {
   @include breakpoint-up(medium) {
    position: absolute;
    bottom: 0;
    left: 0;
    content: '';
    height: 0.5px;
    width: 100%;
    background-color: var(--primary-light);
   }

   @include breakpoint-up(large) {
    width: 40rem;
   }

   @include breakpoint-up(xlarge) {
    width: 9rem;
   }
  }
 }

 // Large Title
 &__hero--title {
  color: var(--secondary-light);
  position: absolute;
  right: 0;
  top: 13.2rem;

  @include breakpoint-up(xlarge) {
   font-size: 10rem;
   z-index: 2;
   top: 7.7rem;
   right: -30.5rem;
  }
 }

 &__hero--text-container {
  @include breakpoint-up(medium) {
   max-width: 37rem;
   padding: 7.5rem 0 0 4rem;
  }

  @include breakpoint-up(large) {
   padding: 8.5rem 0 0 6rem;
  }

  @include breakpoint-up(xlarge) {
   padding: 11.5rem 0 0 10rem;
  }
 }

 &__hero--text-title {
  padding-bottom: 2.6875rem;

  @include breakpoint-up(medium) {
   padding-bottom: 3.25rem;
  }
 }

 //////////////////////////////////////
 // Heritage

 &__heritage {
  margin: 9.6rem 0 9.8125rem 0;

  @include breakpoint-up(medium) {
   position: relative;
   margin: 17.1875rem 0 14.6875rem 0;
  }

  @include breakpoint-up(xlarge) {
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   gap: 7rem;
   margin-bottom: 12.5rem;
  }

  &::before {
   @include breakpoint-up(medium) {
    position: absolute;
    content: '';
    top: -4.75rem;
    left: 0;
    height: 1px;
    width: 4.0625rem;
    background-color: var(--primary-light);
   }

   @include breakpoint-up(large) {
    top: 0;
   }
  }
 }

 &__heritage--content {
  @include breakpoint-up(xlarge) {
   padding-top: 2rem;
  }
 }

 &__heritage--title {
  padding-bottom: 2.6875rem;
  max-width: 1rem;
 }

 .text {
  &:not(:last-child) {
   padding-bottom: 2.25rem;
  }
 }

 &__heritage--image {
  @include breakpoint-up(xlarge) {
   height: 35.5rem;
   width: 33.75rem;
   background-image: url('/assets/about/desktop/image-heritage.jpg');
  }
 }

 &__heritage--overlay {
  @include breakpoint-up(xlarge) {
   height: 35.5rem;
   width: 33.75rem;
   background-color: var(--hero-image-overlay-sepia);
  }
 }

 //////////////////////////////
 // Leaders
 &__leaders {
  margin-bottom: 8.75rem;

  @include breakpoint-up(medium) {
   margin-bottom: 12.5rem;
  }

  @include breakpoint-up(large) {
   display: grid;
   grid-template-columns: repeat(3, 1fr);
  }
 }

 &__leaders--images {
  display: grid;

  @include breakpoint-up(medium) {
   grid-template-columns: repeat(2, 1fr);
   gap: 1rem;
  }

  @include breakpoint-up(large) {
   grid-column: 2 / -1;
   gap: 1.75rem;
   position: relative;
  }
 }

 &__leaders--item {
  &:not(:last-child) {
   padding-bottom: 2.4375rem;
  }
 }

 &__leaders--title {
  padding-bottom: 2.6875rem;
  max-width: 1rem;

  @include breakpoint-up(large) {
   font-size: var(--font-heading-med);
  }
 }

 &__leaders--img {
  position: relative;
  width: 100%;

  .image {
   display: block;
   width: 100%;
  }
 }

 // Hover Overlay
 .overlay {
  display: none;

  @include breakpoint-up(large) {
   display: block;
   position: absolute;
   top: 0;
   height: 100%;
   width: 100%;
   opacity: 0;
   transition: 250ms ease-in-out;
   background-color: var(--hero-image-overlay-dark);

   &:hover {
    opacity: 1;
    cursor: pointer;
   }

   &__socials {
    display: flex;
    justify-content: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    a {
     &:not(:last-child) {
      padding-right: 1.75rem;
     }
    }
   }
  }
 }

 &__leaders--description {
  padding-top: 1.5rem;
  h2,
  p {
   padding-bottom: 0.875rem;
  }

  p {
   color: var(--secondary-text);
  }
 }

 &__leaders--socials > a {
  &:not(:last-child) {
   padding-right: 1.75rem;
  }

  @include breakpoint-up(large) {
   display: none;
  }
 }
}
